* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
}
.top-nav {
    width: 600px;
    height: 60px;
    padding: 20px;
    background-color: #cccccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input {
    width: 40%;
}
.btn {
    height: 25px;
    width: 70px; 
    background-color: #2b78e4;
    color: white;
    border: 2px solid black;
    box-shadow: 3px 3px black;
}
main {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.main-container {
    width: 600px;
    height: 800px;
    display: flex;
}
.left {
    display: block;
    flex: 3;
}
.right {
    display: block;
    flex: 2;
}
.cuadro1 {
    display: flex;
    height: 150px;
    width: 360px;
    border: 2px solid black;
    margin-bottom: 20px;
}
.main-info {
    height: 150px;
    width: 150px;
    flex: 1;
    display: grid;
    justify-items: center;
    align-content: center;
}
h2, p, button {
    margin: 3px;
}
.info {
    display: flex;
    align-items: center;
    flex: 2;
}
h4 {
    margin: 5px;
}
.texto {
    font-size: 15px;
}
.btn2 {
    margin: 10px;
    height: 30px;
    width: 70px;
    background-color: #ffd966;
    border: 2px solid black;
    box-shadow: 3px 3px black;
}
.cuadro2 {
    margin-left: 40px;
    display: grid;
    height: 120px;
    width: 200px;
    border: 2px solid black;
    font-size: 22px;
    justify-items: center;
    align-items: center;
    padding: 10px;
}
.btn3 {
    height: 30px;
    width: 165px;
    background-color: #93c47d;
    border: 2px solid black;
    box-shadow: 3px 3px black;
}
.boton {
    height: 40px;
    width: 175px;
}